{% extends "base.html" %}

{% block contents %}

<header>
    <div class="header-title" style="color: #000000">
        <pre>
            <h4 style="color: #000000">Formação Acadêmica<br>e<br> Experiência Profissional</h4>
        </pre>
    </div>
</header>

<main>
    <h2 class="title-resume">Formação</h2>
    <section class="curriculo-div">
        <h4>2022 - 2025</h4>
            <p><strong>FATEC - São José dos Campos - Prof. Jessen Vidal</strong><br>
                Tecnólogo em Desenvolvimento de Softwares Multiplataformas<br>
                - Projeto API
            <p>A API (Aprendizagem por Projetos Integrados),
                desenvolvida no escopo do CADI, é a metodologia de ensino em implantação na Fatec São José dos Campos.
            </p>
            </p>
    </section>

    <section class="portifolio-div">
        <h4>2017 - 2019</h4>
        <p><strong>ETEC - Gildo Marçal Bezerra Brandão</strong><br>
            Curso Técnico em Eletrônica<br>
        <p>- Trabalho de Conclusão de Curso: Monitorando Catástrofes Naturais com IoT: Uma abordagem simples.</p>
        </p>
    </section>

    <section class="hobby-div">
        <h4>2014 - 2016</h4>
        <p><strong>FATEC - Itaquera - Prof. Miguel Reale</strong><br>
            Tecnólogo em Automação Industrial<br>
        <p>- Trabalho de Conclusão de Curso: Sistema Inteligente para Controle de Enchentes. <br>Protótipo,
            elaborado em grupo, representando um sistema autônomo de contenção das áreas de transbordo dos rios e
            córregos.</p>
        </p>
    </section>

    <h2 class="title-resume">Experiências</h2>
    <section class="hobby-div">
        <h4>2019 - 2021</h4>
        <p><strong>Técnico de Manutenção de Sistemas Jr.</strong><br>
            E-Vertical Tecnologia<br>
        <p>Manutenção corretiva e preventiva em Sistemas de Automação Predial.</p>
        </p>
    </section>
    <section class="portifolio-div">
        <h4>2017 - 2019</h4>
        <p><strong>Estágiario em Eletrônica</strong><br>
            SKF do Brasil<br>
        <p>Acompanhamento e manutenção corretiva em máquinas e equipamentos;
            <br> Acompanhamento e manutenção planejada;</p>
        </p>
    </section>

    <section class="hobby-div">
        <h4>10/2016 - 12/2016</h4>
        <p><strong>
            Estagiário em Automação Industrial</strong><br>
            Ferpak Indústria Metalúrgica Ltda.<br>
        <p>Planejamento de sistemas autônomos em prensas excêntricas. <br>Desenvolvimento da infraestrutura, esquema elétrico e programação do sistema autônomo.</p>
        </p>
    </section>


</main>

{% endblock contents %}