{% extends "base.html" %}

{% block contents %}

<header>
    <div class="header-title-hb" style="color: #000000">
        <pre>
            <h4 style="color: #000000">O que gosto de fazer na hora do lazer!</h4>
        </pre>
    </div>
</header>

<main>
    <h2 class="title-resume">Hobbys</h2>

    <div class="hobbys">
        <p class="produto-descricao">
            <b>- Assistir filme</b><br>
            <b>- Andar de bicicleta no parque</b><br>
            <b>- Jogar video game</b><br>
            <b>- Ouvir Música</b><br>
        </p>
    </div>
</main>

{% endblock contents %}