{% extends "base.html" %}

{% block contents %}

<header class="">
    <img src="../static/img/foto-cabecalho.png" alt="foto inicial" width="200" height="212" class="photo-page">

    <div class="header-title-home" style="color: #000000">
        <pre>
            <h4 style="color: #000000">Olá! sou Aline Correa,<br>seja bem vindo(a) ao meu site!</h4>
        </pre>
    </div>
</header>

<main>
    <section class="title-resume">
        <h1>Sobre mim</h1>
        <p class="resume">Atuando na área de Desenvolvimento de Software com o Flutter em linguagem Dart, como autônoma,
            busco aprimorar meus conhecimentos em multiplataforma com o auxílio da graduação em Desenvolvimento de
            Software Multiplataforma ministrado pela FATEC de São José dos Campos, visando uma especialização na área
            como plano de carreira.
        </p>
    </section>

    <section class="curriculo-div">
        <p>
            <a href="/curriculo" style="color: #0148b2;"><img src="../static/img/curriculo.jpg" alt="curriculo"
                    width="128" height="128"
                    style="border-radius: 50%; box-shadow: 0 0 20px 0 black; margin-left: 10%;"></a>

            <a href="/curriculo" style="color: #004bbd; margin-left: 15px; font-size: large;"><strong>Formação e
                    Experiências</strong></a>
        </p>
    </section>

    <section class="portifolio-div">
        <p>
            <a href="/portifolio" style="color: #0148b2;"><img src="../static/img/portifolio.jpg" alt="portifolio"
                    width="128" height="128"
                    style="border-radius: 50%; box-shadow: 0 0 20px 0 black; margin-left: 10%;"></a>

            <a href="/portifolio"
                style="color: #004bbd; margin-left: 15px; font-size: large;"><strong>Portifólio</strong></a>
        </p>
    </section>
    <section class="hobby-div">
        <p>
            <a href="/hobby" style="color: #0148b2;"><img src="../static/img/hobby.jpg" alt="hobby" width="128"
                    height="128" style="border-radius: 50%; box-shadow: 0 0 20px 0 black; margin-left: 10%;"></a>

            <a href="/hobby" style="color:#004bbd; margin-left: 15px; font-size: large;"><strong>Hobby</strong></a>
        </p>
    </section>
</main>

{% endblock contents %}