{% extends "base.html" %}

{% block contents %}
<main>
    <section class="title-resume">
        <h1>Sobre mim</h1>
        <p class="resume">Atuando na área de Desenvolvimento de Software com o Flutter em linguagem Dart, como autônoma, busco aprimorar meus conhecimentos em multiplataforma com o auxílio da graduação em Desenvolvimento de Software Multiplataforma ministrado pela FATEC de São José dos Campos, visando uma especialização na área como plano de carreira.
        </p>
    </section>

    <section class="curriculo-div">
        <p>
            <a href="/curriculo"><img src="../static/img/curriculo.jpg" alt="curriculo" width="128" height="128" style="border-radius: 50%; box-shadow: 0 0 20px 0 black; margin-left: 10%;"></a>

            <a href="/curriculo" style="margin-left: 35px; font-size: x-large;"><strong>Formação e Experiências</strong></a>

        </p>
    </section>

    <section class="portifolio-div">
        <p>
            <a href="/portifolio"><img src="../static/img/portifolio.jpg" alt="portifolio" width="128" height="128" style="border-radius: 50%; box-shadow: 0 0 20px 0 black; margin-left: 10%;"></a>

            <a href="/portifolio" style="margin-left: 35px; font-size: x-large;"><strong>Portifólio</strong></a>

        </p>
    </section>
    <section class="hobby-div">
        <p>
            <a href="/hobby"><img src="../static/img/hobby.jpg" alt="hobby" width="128" height="128" style="border-radius: 50%; box-shadow: 0 0 20px 0 black; margin-left: 10%;"></a>

            <a href="/hobby" style="margin-left: 35px; font-size: x-large;"><strong>Hobby</strong></a>
        </p>
    </section>
</main>

{% endblock contents %}
