{% extends "base.html" %}

{% block contents %}
    <main>
        <h2 class="title-resume">Projetos GitHub</h2>

        <ul class="projetos">
            <li>
                <p class="projetos-descricao">API - Projeto de Aprendizado Integrado<br><br>

                    <b>- Projeto</b>
                </p>

                <a href="https://github.com/https-github-com-spicecorpdev/spicebank" class="projetos-link" target="_blank">spicebank</a>
            </li>

            <li>
                <p class="projetos-descricao">Desenvolvimento Web<br><br>

                    <b>- Projeto</b>
                </p>

                <a href="https://github.com/acorreac/Desenvolvimento-Web-Desafio1" class="projetos-link" target="_blank">Desenvolvimento
                    Web Desafio1</a>
            </li>

            <li>
                <p class="projetos-descricao">Alura Quiz - SUPER LUIGI<br><br>

                    <b>- Projeto</b>
                </p>

                <a href="https://github.com/acorreac/aluraquiz-base" class="projetos-link" target="_blank">aluraquiz base</a>
            </li>

            <li>
                <p class="projetos-descricao">Barbearia-Alura<br><br>

                    <b>- Projeto</b>
                </p>

                <a href="https://github.com/acorreac/Barbearia-Alura" class="projetos-link" target="_blank">
                    barbearia alura</a>
            </li>
        </ul>
    </main>

{% endblock contents %}
